# Mean comparison between bluecars taken on weekdays and on Weekend

# 1. Data

In this project, we are comparing the mean of blue cars taken per day on weekdays with the mean of bluecars taken per day on weekend.

## 1.1. Data Preparation

Data preparation consists of 
 - importing packages
 - loading datasets
 - looking at the variables
 - dealing with missing values
 - removing duplicates
 - harmonizing column names

In [1]:
# Importing packages needed for our project
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import norm

In [2]:
# assigning links to dataset and glossary

url1 = "http://bit.ly/DSCoreAutolibDataset"
url2 = "http://bit.ly/DSCoreAutolibDatasetGlossary"

#url1 for dataset and url2 for glossary

In [3]:
# Loading dataset and viewing five first elements of the dataset

data = pd.read_csv(url1)
data.head()

,Postal code,date,n_daily_data_points,dayOfWeek,day_type,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
0,75001,1/1/2018,1440,0,weekday,110,103,3,2,10,9,22,20
1,75001,1/2/2018,1438,1,weekday,98,94,1,1,8,8,23,22
2,75001,1/3/2018,1439,2,weekday,138,139,0,0,2,2,27,27
3,75001,1/4/2018,1320,3,weekday,104,104,2,2,9,8,25,21
4,75001,1/5/2018,1440,4,weekday,114,117,3,3,6,6,18,20

In [4]:
# Loading glossary and viewing all descriptions of dataset variables

glossary = pd.read_excel(url2)
print(glossary)

# We have a description of the dataset as follows:
# - a postal code
# - a date of the row aggregation
# - a day of the week and a type of day(weekday or weekend)
# - 3 variables for cars taken (bluecar, utilib and utilib 1.4)
# - 3 variables for cars returned (bluecar, utilib and utilib 1.4)
# - total recharging slots freed that dayand
# - total recharging slots taken that day

               Column name                                        explanation
0              Postal code                 postal code of the area (in Paris)
1                     date                        date of the row aggregation
2      n_daily_data_points  number of daily data poinst that were availabl...
3                dayOfWeek     identifier of weekday (0: Monday -> 6: Sunday)
4                 day_type                                 weekday or weekend
5       BlueCars_taken_sum    Number of bluecars taken that date in that area
6    BlueCars_returned_sum  Number of bluecars returned that date in that ...
7         Utilib_taken_sum      Number of Utilib taken that date in that area
8      Utilib_returned_sum   Number of Utilib returned that date in that area
9      Utilib_14_taken_sum  Number of Utilib 1.4 taken that date in that area
10  Utilib_14_returned_sum  Number of Utilib 1.4 returned that date in tha...
11         Slots_freed_sum  Number of recharging slots released that date ...
12         Slots_taken_sum  Number of rechargign slots taken that date in ...

In [5]:
# Viewing number of records and variables

print(data.shape)
print()
data.info()


# the dataset has 13 fields/variables/columns and 16085 records/rows.

(16085, 13)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16085 entries, 0 to 16084
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Postal code             16085 non-null  int64
 1   date                    16085 non-null  object
 2   n_daily_data_points     16085 non-null  int64
 3   dayOfWeek               16085 non-null  int64
 4   day_type                16085 non-null  object
 5   BlueCars_taken_sum      16085 non-null  int64
 6   BlueCars_returned_sum   16085 non-null  int64
 7   Utilib_taken_sum        16085 non-null  int64
 8   Utilib_returned_sum     16085 non-null  int64
 9   Utilib_14_taken_sum     16085 non-null  int64
 10  Utilib_14_returned_sum  16085 non-null  int64
 11  Slots_freed_sum         16085 non-null  int64
 12  Slots_taken_sum         16085 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.6+ MB

In [6]:
# Make all column names lowercase

data.columns= data.columns.str.lower()

# Strip column names for whitespace

data.rename(columns=lambda x: x.strip())

# Replace space in names with "_"

data.columns = data.columns.str.replace(' ','_')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16085 entries, 0 to 16084
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   postal_code             16085 non-null  int64
 1   date                    16085 non-null  object
 2   n_daily_data_points     16085 non-null  int64
 3   dayofweek               16085 non-null  int64
 4   day_type                16085 non-null  object
 5   bluecars_taken_sum      16085 non-null  int64
 6   bluecars_returned_sum   16085 non-null  int64
 7   utilib_taken_sum        16085 non-null  int64
 8   utilib_returned_sum     16085 non-null  int64
 9   utilib_14_taken_sum     16085 non-null  int64
 10  utilib_14_returned_sum  16085 non-null  int64
 11  slots_freed_sum         16085 non-null  int64
 12  slots_taken_sum         16085 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.6+ MB

In [7]:
# Checking for missing values

data.isnull().sum()

# Our dataset has no missing values

postal_code               0
date                      0
n_daily_data_points       0
dayofweek                 0
day_type                  0
bluecars_taken_sum        0
bluecars_returned_sum     0
utilib_taken_sum          0
utilib_returned_sum       0
utilib_14_taken_sum       0
utilib_14_returned_sum    0
slots_freed_sum           0
slots_taken_sum           0
dtype: int64

In [8]:
# Checking for duplicates

data.duplicated().sum()

# Our dataset has no duplicates

0

In [9]:
# Finding unique values

column_names = list(data.columns)

for col in column_names:
        print()
        print(col, "\n\n",data[col].unique())

postal_code

 [75001 75002 75003 75004 75005 75006 75007 75008 75009 75010 75011 75012
 75013 75014 75015 75016 75017 75018 75019 75020 75112 75116 78000 78140
 78150 91330 91370 91400 92000 92100 92110 92120 92130 92140 92150 92160
 92170 92190 92200 92210 92220 92230 92240 92250 92260 92270 92290 92300
 92310 92320 92330 92340 92350 92360 92370 92380 92390 92400 92410 92420
 92500 92600 92700 92800 93100 93110 93130 93150 93170 93200 93230 93260
 93300 93310 93350 93360 93370 93390 93400 93440 93500 93600 93700 93800
 94000 94100 94110 94120 94130 94140 94150 94160 94220 94230 94300 94340
 94410 94450 94500 94700 94800 95100 95870 95880]

date

 ['1/1/2018' '1/2/2018' '1/3/2018' '1/4/2018' '1/5/2018' '1/6/2018'
 '1/7/2018' '1/8/2018' '1/9/2018' '1/10/2018' '1/11/2018' '1/12/2018'
 '1/13/2018' '1/14/2018' '1/15/2018' '1/16/2018' '1/17/2018' '1/18/2018'
 '1/19/2018' '1/20/2018' '1/21/2018' '1/22/2018' '1/23/2018' '1/24/2018'
 '1/25/2018' '1/26/2018' '1/27/2018' '1/28/2018' '1/29/2018' '1/30/2018'
 '1/31/2018' '2/1/2018' '2/2/2018' '2/3/2018' '2/4/2018' '2/5/2018'
 '2/6/2018' '2/7/2018' '2/8/2018' '2/9/2018' '2/10/2018' '2/11/2018'
 '2/12/2018' '2/13/2018' '2/14/2018' '2/15/2018' '2/16/2018' '2/17/2018'
 '2/18/2018' '2/19/2018' '2/20/2018' '2/21/2018' '2/22/2018' '2/23/2018'
 '2/24/2018' '2/28/2018' '3/1/2018' '3/2/2018' '3/3/2018' '3/4/2018'
 '3/5/2018' '3/6/2018' '3/7/2018' '3/8/2018' '3/9/2018' '3/10/2018'
 '3/11/2018' '3/12/2018' '3/13/2018' '3/14/2018' '3/15/2018' '3/16/2018'
 '3/17/2018' '3/18/2018' '3/19/2018' '3/20/2018' '3/21/2018' '3/22/2018'
 '3/23/2018' '3/24/2018' '3/25/2018' '3/26/2018' '3/27/2018' '3/28/2018'
 '3/29/2018' '3/30/2018' '3/31/2018' '4/1/2018' '4/2/2018' '4/3/2018'
 '4/4/2018' '4/5/2018' '4/6/2018' '4/7/2018' '4/8/2018' '4/9/2018'
 '4/10/2018' '4/11/2018' '4/12/2018' '4/13/2018' '4/14/2018' '4/15/2018'
 '4/16/2018' '4/17/2018' '4/18/2018' '4/19/2018' '4/20/2018' '4/21/2018'
 '4/22/2018' '4/23/2018' '4/24/2018' '4/25/2018' '4/26/2018' '4/27/2018'
 '4/28/2018' '4/29/2018' '4/30/2018' '5/1/2018' '5/2/2018' '5/3/2018'
 '5/4/2018' '5/5/2018' '5/6/2018' '5/7/2018' '5/8/2018' '5/20/2018'
 '5/21/2018' '5/22/2018' '5/23/2018' '5/24/2018' '5/25/2018' '5/26/2018'
 '5/27/2018' '5/28/2018' '5/29/2018' '5/30/2018' '5/31/2018' '6/1/2018'
 '6/2/2018' '6/3/2018' '6/4/2018' '6/5/2018' '6/6/2018' '6/7/2018'
 '6/8/2018' '6/9/2018' '6/10/2018' '6/11/2018' '6/12/2018' '6/13/2018'
 '6/14/2018' '6/15/2018' '6/16/2018' '6/17/2018' '6/18/2018' '6/19/2018']

n_daily_data_points

 [1440 1438 1439 1320 1437 1434 1398 1420 1425 1396 1429 1389 1380 1364
 1318 1377 1203 1417 1435 1174 1436 1411 1370]

dayofweek

 [0 1 2 3 4 5 6]

day_type

 ['weekday' 'weekend']

bluecars_taken_sum

 [ 110   98  138  104  114  187  180   84   81   88  125  126  224  193
  107  116  118  122  130  217  143  123  112  108  145  216  190   83
  103  146  199  186  121  113  109  207  160  115   94   99  119  176
  157   85  100  135    8   92  127  136  192  168  102  134  197  173
  131  196  150  156  231  105  219  179  124  188  139   97  120  159
  147  151  129  152  142  141  202  175   96  133  254  137  185  203
    6  166  165  243  264  213  164  163  191  276  210  183  148  270
  128  280  178  153  158  259  161  240   12  181  140  263  167  177
  250  208  171  266  155  247  154  184  293  228  182  144  218  162
  239  200  170  174  172  245    5  195  237  331  283  212  211  380
  356  233  220  238  384  313  229  221  201  350  327  223  226  234
  262  361  335  205  198  346  303  236  341  277  206   25  230  330
  286  265  251  412  340  227  357  319  189  375  326  311  284  255
  209  215  323  256  204  214  382  315  310  333  260  297  258  241
  235  349  305  290  275  194  307  328  242  308  279  288  320  273
  261  169  344  334  291  294  278  287  149  370   18  257  397  365
  298  299  321  490  427  269  451  363  339  317  416  449  296  306
  475  348  446  343  324  304  342  355  267   37  253  401  407  396
  282  281  271  395  345  325  292  369  232  318  309  300  314  373
  302  377  353  312  347  268  403  364  289  252  301  376   29  405
  366  225   24  421  244  391  272  246  222  248  374  387  359   13
  249  336  337  274  372  394  379  411  354  295   20  368  285  322
  409  358  360  400  393  332  386  422  430  426  442  398  415  525
  471  455  458  462  551  520  452  453  467  487  428  482  495  435
  464  480  417  577  437  418  489  431  383  414  399   26  425  419
  447  459  505  463  424  468  491  492  476  473  423  433  494  516
  338  478  497  469  465  537  479  474  524  413  371  466  432  434
  316  450  589  501  528  533  484  460  521  518  486  488  485  500
   21  378  503  367   27  329  385  457  352  351  381  420  390  477
  440  461  443  388   56  438  441  402  408  406   16  499  688  557
  738  599  445  714  613  404  679  529  456  702  598  654  602  534
  563   69  444  483  737  655  594  697  536  612  579  507  658  593
  454  584  362  436  552  472  481  470  539  648  569  581  631  561
  540  576  496  696  554  389   49  502  605  634  515  764  673  535
  735  666  690  642  448  549  816  609  672  617  541  724   46  439
  614  519  661  645  514  637  410  710  590  506  610  623  493  703
  542  657  713  504  585  580  517  727  708  680  687  550  734  636
  624  722  659  616  767  647  508  575  725  684  792  646  682  523
  618  660  649  543   36  513  733  695  544  681  511  643  532  700
  652  498  510  603  560  664  555  568  651  526  564  538  800  709
  556  826  747  567  573  662   30  429  677  640  611  712  650  559
  625   39  632  620  546  586  601  592  698  678  653  691  781  739
  669  852 1061  913  694  791  810  881 1255 1097  753  885  831  950
 1352 1132  751  718  784  871  963 1248 1014  721  732  880  942 1327
 1043  808  794 1118 1036  723  874  872  943 1144 1037  757  765  827
   58  897 1136  999  829  805  790  907 1127 1038  766  811  818  898
 1209  980  746  819  813  946 1186  981  797  884  833  867 1024  939
  839  756  926  893  875 1277 1082  887  962  955 1005 1002  774  936
 1023  925  984  899  877  857  865  773  944 1155 1016  840  931  856
  938 1335 1152  861  888  985  932 1089 1338 1164  864  994 1032  968
 1087 1330  973  920 1093 1001  693  638  741  847  842  668  768  715
  835  918  786  728  908 1062  989  796 1069  795 1065  905  760  755
  630  982  665  843  824  953  583  748  719  772  770  683  814 1003
  853  793  830  804  783 1015  854  780  987  628  825  799  787  777
  817  789 1020  894  761  850  919  686  729  606  731  742  801 1088
  758  812  745  912  978  866  862  860  917  846 1080  802  837  832
  890 1006  901  844  909  988  845  548  553  705  928  692  776  992
  701  945  635  929  716  754  706  644  873  803  604   51  629  740
  782  991  785  806  763  736  977  834  762  798  720  868  752  667
  809  974  707  744  749  923  859   38  392  547  587  566  530   48
  596  582  562  588  591  522  730  704  670  627   55  676  531  622
  639  545  527   31  619  615  633  571   47  512  600  626  558    7
   11    3    4   10    9   14   17   19    0    2   15    1   23   71
   43   35   68   67   28   64   70   33   80   63   40   45   62   34
   32   59   41   52   74   75   66   78   44   65   93   57   50   53
   72   54   82   76   22   42   60  132   79   61  106   73   89   95
   91   90   87  111   77   86  101  117]

bluecars_returned_sum

 [ 103   94  139  104  117  185  180   83   84   85  125  127  223  193
  107  116  118  122  130  217  150  113  146  218  189   81  110  147
  204  121   99  112  109  207  165  111   93  119  176  158   86   98
  135    9   91  131  137  138  208  177  124  101  145  203  169   96
  136  142  196  154  100   97  144  128  179  151  115  232  105  219
  143  190  102  159  155  156  120  141  201  133  253  199   95  108
  188  126  206  174    7  244  197  153  264  148  164  277  213  149
  175  270  198  280  161  178  152  160  257  205  240  123  157   12
  265  186  173  140  171  167  255  209  170  266  248  243  183  292
  222  134  236  132  181  172  184  168  162  237  163  233  202  283
  192  252  211    6  250  187  229  249  338  293  214  212  228  379
  359  220  225  245  400  307  221  224  367  334  274  344  340  317
  235  342  290  182  241  332  297  195  231  414  329  210  366  319
  247  376  331  322  271  328  267  377  311  281  339  305  216  258
  284  238  326  275  330  318  304   21  166  279  310  315  300  352
  269  254   19  191  333  259  295  262  256  242  341  272  285  288
  230  278  303   13  407  356  476  433  302  343  456  372  291  308
  301  429  467  321  466  358  306  438  313  299  355  362   16  312
  287  261  401  405  260  413  337  298  309  398  375  316  286  426
  363  289  320  382  314  349  294  364  346  369  411  378  371   17
  399  234  383  227  194  403  325  268  200  423  350  394  365  246
  327  226  370  347  273  282  296  408  389  418  324  239  251  416
  360  393  396    8  276  409  424  435  442  412  532  492  430  422
  460  459  552  545  448  441  465  477  428  488  519  390  406  478
  594  380  420  449  368  402   22  427  446  421  457  471  528  454
  388  496  523  469  445  453  447  525  417  464  506  512  425  351
  432  494  484  529  483  498  535  443  458  392  395  434  462  391
  348  444  568  461  463  508  482  534  481  472  518  485  480  415
  419   18  336  335  455  521  517  436  263  440  499  410  345  474
  381  323  361  384  354  387  439  479  468  450   35  353  397  215
   23  513  674  490  716  641  713  644  386  431  690  569  507  711
  602  613  570   62  595  563  437  493  630  404  658  629  682  557
  625  501  567  676  622  596  526  548  579  522  516  373  510  451
  659  649  605  475  667  559  561  489  547  688  584   44  611  621
  770  687  509  758  655  473  717  536  798  618  669  603  541  671
  735  487   61  651  593  656  642  581  686  607  608  673  684  520
  666  685  564  497  571  647  725  503  694  724  696  549  707  645
   41  550  617  695  670  633  745  679  514  589  712  504  538  560
  783  524  592  634   56  639  572  693  546  678  606  544  627  598
  530  533  648  537  600  614  551  565  704  531  554  575  785  543
  573  824  742  578  698  680   39  582  654  646  672  624  385  597
   42  638  631  553  615  577  566  635  374  558  495  632  650   27
  843  720  752  846 1015  971  728  801  806  815  863 1211 1135  778
  773  894  828  952 1300 1149  791  721  838 1214 1049  746  839  837
  919 1287 1118  807  793 1136 1066  726  731  874  862  928 1117 1072
  762  756  805  860 1057  747  830  865 1111 1119  734  819 1210 1046
  780  972 1142 1033  706  792  869  967  979  873  767  893  891  840
 1171 1189  875  942  995  963 1133 1051  775  763  736  857 1017  708
  826  853  947  910  877  854 1146 1045  907  867  813  911 1032 1276
 1271  892  982  948 1039 1294 1230 1004 1010 1040 1332 1143  880  914
  970  930 1056 1154 1090   52  660  868  851  662  675  741  749  973
  940  755  776  901 1077 1003  753  702  769 1061  890  787  808  887
 1044  733  989  705  831  871  818  954  585  681  761   60  628  715
  790  759  692  739  789  990  833  784  984  847  765  821 1020  861
  616  777  729  842  832  834  797  779  915  898  623  714  710  599
  816  620  664  697  802  804 1064  881  743  760  903  966  987  878
  902  889 1076  855  885  996  879  906   40  542  703  904  677  939
  981  612  938  958  771  917  852  643  709  718  845  590  663   57
  864  700  969  610  738  757  730  754  983  975  949  737  823  876
  665  768  786  772  965  897  883  539  357  502  586   53  604  527
  583  470  580  591  576  652  744  689  683  486  699  701   79  500
  722  556  811  515  661  653  587   75  588  601  555  562  637  505
   55    5   10   20   11    3    4   14   15    1    0   24    2   49
   31   34   65   25   30   38   54   76   32   45   50   37   36   28
   74   69   33   29   58   47   48   71   43   66   26   51   59   63
   46   68   67   64   90  129   77   78   80   89   88   87   72  106
   92   70   73  114   82]

utilib_taken_sum

 [ 3  1  0  2  6  5  4  7  8  9 11 17 10 13 18 12 15 16 21 19 14 34 31 23
 20 22 24 29 25 28 26 27 46 32 30 43 38 37 40 45 54 36 35 39 42 33 41 47]

utilib_returned_sum

 [ 2  1  0  3  6  5  4  7  8  9 11 17 10 13 18 14 15 12 21 20 16 19 35 32
 23 22 24 25 27 26 30 49 28 31 29 43 38 39 36 34 47 45 33 58 41 37 42 40
 44]

utilib_14_taken_sum

 [ 10   8   2   9   6   7   4  11  13  12  15  25   5  14   3  17  16   0
   1  21  18  19  22  20  27  23  24  29  26  28  30  33  41  36  34  40
  50  45  32  31  35  37  42  38  48  47  52  39  53  43  56  51  75  49
  55  44  46  54  57  61  60  70  58  68  62  64  59  66  63  65  72  89
  82  69  71  79  84  73  81  80  67  90 100  91  85  74  76  94  78  95
  87  93]

utilib_14_returned_sum

 [  9   8   2   6  10   4  11  13  12  15   7  25   5  14   3  17  16   0
   1  21  18  19  20  22  27  23  24  29  34  41  28  35  32  30  26  33
  43  50  44  31  36  40  38  48  37  47  53  45  39  51  54  52  46  74
  42  57  49  60  63  61  55  66  59  58  67  68  62  64  71  56  69  84
  70  72  86  76  80  89  73  94  79  65  93  78  75  77  82  85  88 101
  87  90  96  83]

slots_freed_sum

 [ 22  23  27  25  18  38  34  14  15  11  19  16  21  17  41  24  20  35
  36  32  13  28  12  26   0  48  30  29  31  47  33  40  37   9  10  43
  44  49  39  42  45  51  46  59  64  56  52   1  50  95  84  83  81  58
  61  67 101  86  63  97  60  57  65  80  79  77  54  85  75  73  55   3
  62  82  71  69  74  89  91 109  70  76  72  68  78  53  66  87   2   5
 120 111  92 110  88 103 142 115 105 113 121  96  90 134 140 130  94  99
 128 100 129  98 118 106 119 117 102 107  93 135 104 122 133 108 112 116
 123 136 126   6 114 132 177 167 125 124 131 143 139 137 153 180 157 162
 152 151 149 156 145 173 147 211 127 141 161 144 163 138 171 158 148 168
 154 166 150 170 146 165 178 174 175 176 181 190 160 184 205 253 252 155
 193 204 221 214 169 197 196 200 199 191 185 183 208 159 218 215 179 216
 203 186 206   7 192 172 202 236 274 195 222 239 213 229 188 201 240 164
 226 220 182   8 194 248 289 286 234 302 254 189 235 319 277 284 360 249
 237 305 263 271 272 209 301 278 251 322 232 207 228 283 344 282 212 330
 309 225 217 357 280 257 300 273 250 288 339 292 242 262 308 285 198 241
 264 267 335 293 310 219 224 187 230 223 269 258 210 233 246 255 259 227
 244 245 231 270 275 243 296 334   4]

slots_taken_sum

 [ 20  22  27  21  35  34  15  13  38  19  39  25  14   9  37  36  30  16
  11  28  33  18  12   0  31  23  26  50  17  40  24  48  32   8  29  42
  43  49  45  41  44  52  59  46  65  47  57  51   1  97  87  54  84  83
  60  69 103  58  62  92  67  78  82  77  53  88  72  66  99  64  55  75
 113  63  74  71  89  68  81  73  70  61  79  56  76  86   2 118 108 107
 144 114  93 105 106 115 122  90  80  98  85 139 136 128  94 126  95   4
 130 102  96 129 138 111 124 101 109 116 110 134  91 119 137 100   3 104
 112   6 177 125 120 123 131 135 140 132 155 182 154 164 121 151 157 147
 117 153 160 141 172 161   5 213 145 143 162 127 148 169 149 171 167 163
 166 133 158 159 150 174 173 178 152   7 176 179 165 180 142 188 185 183
  10 210 252 249 199 196 228 205 201 181 193 184 207 168 225 187 212 186
 146 170 203 223 197 194 230 280 202 191 200 221 218 192 156 208 175 198
 233 204 222 220 189 215 245 214 209 248 287 286 229 240 295 211 321 272
 195 226 235 216 278 359 328 247 239 330 298 260 271 273 263 255 227 315
 284 231 349 236 253 322 285 251 246 238 261 301 219 346 289 217 254 283
 275 299 232 224 243 242 303 268 244 336 305 297 241 262 258 338 270 292
 264 294 290 206 190 234 267 269 250 276 279 304 326]

## 1.2. Data Analysis

In [10]:
# Some descriptive statistics on numerical variables

data.describe()

,postal_code,n_daily_data_points,dayofweek,bluecars_taken_sum,bluecars_returned_sum,utilib_taken_sum,utilib_returned_sum,utilib_14_taken_sum,utilib_14_returned_sum,slots_freed_sum,slots_taken_sum
count,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000
mean,88791.293876,1431.330619,2.969599,125.926951,125.912714,3.698290,3.699099,8.600560,8.599192,22.629033,22.629282
std,7647.342000,33.212050,2.008378,185.426579,185.501535,5.815058,5.824634,12.870098,12.868993,52.120263,52.146030
min,75001.000000,1174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,91330.000000,1439.000000,1.000000,20.000000,20.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,92340.000000,1440.000000,3.000000,46.000000,46.000000,1.000000,1.000000,3.000000,3.000000,0.000000,0.000000
75%,93400.000000,1440.000000,5.000000,135.000000,135.000000,4.000000,4.000000,10.000000,10.000000,5.000000,5.000000
max,95880.000000,1440.000000,6.000000,1352.000000,1332.000000,54.000000,58.000000,100.000000,101.000000,360.000000,359.000000

# 2. Hypothesis Testing

### 2.1 Objective

Finding if there is a difference between the number of bluecars taken between weekdays and weekends
Null Hypothesis: there is no difference between the number of cars taken on weekdays and the number of cars taken on weekdays
Alternate hyposthesis: there is a difference between the number of cars taken on weekdays and the number of cars taken on weekends
H0 : mu1 = mu2
H1 : mu1 != mu2
The above is a two-tailed test statistics that will be calculated using z score and a sample obtained from the main dataset

### 2.2. Sampling

In [11]:
# Drawing a sample
# Stratified sampling will be used to ensure we get a relatively accurate number of representatives for both weekend and weekdays
# First we check the population proportions with regard to the day_type variable
proportion = data.day_type.value_counts()
proportion

weekday    11544
weekend     4541
Name: day_type, dtype: int64

In [12]:
# Drawing sample using stratified sampling, we are only using 10% of the population
# No more than 10% of total population satisfies the condition for independency in the dataset

strata_sample = data.groupby("day_type", group_keys = False).apply(lambda strata : strata.sample(frac = 0.1))
strata_sample.day_type.value_counts()

# The sample provides an adequate representation of the population

weekday    1154
weekend     454
Name: day_type, dtype: int64

Two sample z-test to compare the means of blue car taken during weekends and the mean of blue cars taken during weekdays

Values needed for a z-test for two sample means are:
n (sample size), x(sample mean), mu (population mean) and std (population standard deviation) for both samples
We choose our level of significance alpha to be 0.05.

In [13]:
# Information about our bluecars column given weekdays and weekends from our sample

strata_description = strata_sample["bluecars_taken_sum"].groupby(strata_sample["day_type"]).describe()
strata_description

           count        mean         std  min   25%   50%    75%     max
day_type
weekday   1154.0  109.012998  159.053954  0.0  18.0  40.0  113.5  1087.0
weekend    454.0  155.508811  216.397136  0.0  25.0  56.0  183.5  1127.0

In [14]:
# Information about our bluecars column given weekdays and weekends from our dataset

data_description = pd.DataFrame(data["bluecars_taken_sum"].groupby(data["day_type"]).describe())
data_description

            count        mean         std  min   25%   50%    75%     max
day_type
weekday   11544.0  116.028673  169.626905  0.0  18.0  42.0  126.0  1093.0
weekend    4541.0  151.090068  218.565642  0.0  25.0  59.0  156.0  1352.0

In [15]:
strata_weekday = strata_sample[strata_sample["day_type"] == "weekday"]
strata_weekend = strata_sample[strata_sample["day_type"] == "weekend"]
print(strata_weekday.shape)
print(strata_weekend.shape)

(1154, 13)
(454, 13)

###  2.3. Calculating the z-score and the p-value

In [16]:
# We calculate the z score using the values below:

n1 = len(strata_weekday["bluecars_taken_sum"]); x1 = strata_weekday["bluecars_taken_sum"].mean(); mu1 = 116.028673; std1 = 169.626905;
n2 = len(strata_weekend["bluecars_taken_sum"]); x2 = strata_weekend["bluecars_taken_sum"].mean(); mu2 = 151.090068; std2 = 218.565642;
alpha = 0.05

mean_diff = x1 - x2
mu_diff = mu1 - mu2
pooled_var = ((std1**2)/n1)+((std2**2)/n2)

z_score = (mean_diff - mu_diff)/math.sqrt(pooled_var)
z_score

-1.002264105707102

In [17]:
# P value associated with the z score obtained is given by 

p_value = 2*(norm.sf(abs(z_score)))
p_value

0.3162160536493789

# 3. Conclusion

In [18]:
# As a conclusion, if p_value < alpha, we have significant evidence to reject the null hyposthesis.
# but if p_value > alpha, we do not have significant evidence to reject the null hypothesis.

if p_value < alpha:
    print("There is significant evidence to reject the null hypothesis")
else:
    print("There is no significant evidence to reject the null hypothesis")
    
# As we can see, there is no significant evidence to reject the null hypothesis 
# as p value = 0.85 is greater than the level of significance alpha = 0.05.

There is no significant evidence to reject the null hypothesis

In conclusion, 
there is no significant difference 
between the mean number of bluecars taken per day on weekdays 
and the mean number of bluecars taken per day on weekends